<!--div class="section-colored text-center">

    <!--div class="container">

        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-lg btn-primary" href="http://startbootstrap.com">Join The Mailing List</a>
                <h2>Learn With Robots: lorem ipsum dolores </h2>
                <p>We're an interdisciplinary project-based club that loves to build robots. No experience required. </p>
                <hr>

            </div>

        </div>
        <!-- /.row -->

    <!--/div>
    <!-- /.container -->

    <!--img class="img-responsive" src="./resources/images/backgrounds/bonderson.jpg"-->
<!--/div>
<!-- /.section-colored -->
    <!--img class="img-responsive" src="./resources/images/backgrounds/bonderson.jpg"-->
<!--div class="bg-active">
</div-->
<div class="bg-active">
    <img class="cover" src="./resources/images/backgrounds/bonderson.jpg">
</div>
