<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Projects
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html#/">Home</a></li>
                </li>
                <li class="active">Projects</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

</div>


<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="./resources/images/urov.png">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>UROV</h2>
                <p>We are the Cal Poly Underwater Remotely Operated Vehicle (UROV/ROV) team. Coming from mixed majors and backgrounds, we are building a task-based vehicle for both competition and research in aquatic environments. The international MATE competition is held this summer in Houston, Texas from June 25-27, 2016. Students competing in this international collegiate level competition learn about submersible technology, and gain experience that guides them toward the technical marine workforce.
                </p>
                <ul>
                    <li>Competitions</li>
                    <li>Fabrication</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->


<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>IGVC</h2>
                <p>The goal of the Autonomous Golf Cart Project is to retrofit a golf cart with all the sensors and motors to create an autonomous golf cart which can drive around campus. The golf cart is equipped with a LIDAR, stereoscopic camers, sonar rangefinders, GPS, hall effect sensors, and other sensors.
                </p>
                <ul>
                    <li>Computer Vision</li>
                    <li>Machine Learning</li>
                    <li>Circuit Board Design</li>
                    <li>Computer Vision</li>
                    <li>Machine Learning</li>
                    <li>Circuit Board Design</li>
                    <li>Computer Vision</li>
                    <li>Machine Learning</li>
                    <li>Circuit Board Design</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="./resources/images/igvc.png">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="./resources/images/robocup.png">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>RoboCup</h2>
                <p>We are the BB-8 team and we're working on building this life sized droid for open house. We are comprised of about 15 students at Cal Poly coming from various engineering studies.</p>
                <ul>
                    <li>Competitions</li>
                    <li>Fabrication</li>
                    <li>Machine Learning</li>
                    <li>Swarm Programming</li>
                    <li>Computer Vision</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>BB8</h2>
                <p>We are the BB-8 team and we're working on building this life sized droid for open house. We are comprised of about 15 students at Cal Poly coming from various engineering studies.
                </p>
                <ul>
                    <li>3-D Printing</li>
                    <li>Computer Aided Design</li>
                    <li>Applied Physics</li>
                    <li>Inductive Power Delivery</li>
                    <li>Open-Loop Controls</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="./resources/images/bb8.png">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->





<!--div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>
            <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">See More Templates!</a>
        </div>
    </div-->
<!-- /.row -->

</div>
<!-- /.container -->