<!DOCTYPE html>
<head>
  <title>Cal Poly Robotics Club</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="resources/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="resources/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="resources/favicon/favicon-16x16.png">
  <link rel="manifest" href="resources/favicon/manifest.json">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/global.css">
  <link rel="stylesheet" href="stylesheets/background.css">
</head>

<body ng-app="myApp" ng-init="loadLists()" ng-controller="pageController" ng-class="backgroundClass('/main')" ng-cloak>

<div layout="row" layout-align="left center" class="header"><!-- Start Header Content -->

  <!-- Robotics Club Title -->
  <h3 hide-xs hide-sm class="mainTitle">Cal Poly Robotics Club</h3>
  <a hide-gt-sm ng-href="#!/main" style="color:transparent;"><h3 class="mainTitle">Cal Poly Robotics Club</h3></a>

  <!-- Desktop Navigation Bar -->
  <div flex>
  <md-content hide-xs hide-sm class="clear-content navBar">
    <md-nav-bar
            md-selected-nav-item="home"
            nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#!main" name="home" value="home">Home</md-nav-item>
      <md-nav-item md-nav-href="#!projects" name="projects">Projects</md-nav-item>
      <md-nav-item md-nav-href="#!store" name="store">Club Store</md-nav-item>
      <md-nav-item md-nav-href="#!contact" name="contact">Contact Us</md-nav-item>
      <md-nav-item md-nav-href="#!about" name="about">About</md-nav-item>
    </md-nav-bar>
  </md-content>
  </div>

  <!-- Mobile Sidebar Functionality -->
  <md-sidenav md-component-id="left" class="md-sidenav-left">
    <a ng-click="toggleLeftMenu()" ng-href="#!">
      <div layout="row" layout-align="center center">
      </div>
    </a>
    <md-list id="navlist">
      <md-list-item class="md-1-line list-item" ng-click="showProjectList = !showProjectList">
        <div class="md-list-item-text">
          <p>Projects</p>
        </div>
        <span flex></span>
        <md-icon>chevron_right</md-icon>
      </md-list-item>
      <md-list-item ng-show="showProjectList" class="md-1-line sublist-item" ng-repeat="project in projectList" ng-click="toggleLeftMenu()" ng-href="#!{{project.href}}">
        <div class="md-list-item-text">
          <p>{{project.name}}</p>
        </div>
      </md-list-item>
      <md-list-item class="md-1-line list-item" ng-click="toggleLeftMenu()" ng-href="#!store">
        <div class="md-list-item-text">
          <p>Club Store</p>
        </div>
      </md-list-item>
      <md-list-item class="md-1-line list-item" ng-click="toggleLeftMenu()" ng-href="#!contact">
        <div class="md-list-item-text">
          <p>Contact Us</p>
        </div>
      </md-list-item>
      <md-list-item class="md-1-line list-item" ng-click="toggleLeftMenu()" ng-href="#!about">
        <div class="md-list-item-text">
          <p>About</p>
        </div>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <!-- Mobile Menu Button -->
  <div id="headerButtonContainer" layout="column" layout-align="center end">
  <md-content hide-gt-sm class="color-primary">
      <md-button id="headerButton" ng-click="toggleLeftMenu()" class="md-icon-button md-primary mobileNavButton" aria-label="Settings">
        <md-icon md-svg-icon="resources/icons/menu.svg" class="menuIcon"></md-icon>
      </md-button>
  </md-content>
  </div>

</div><!-- End Header Content -->

  <!-- TODO IF ever change height of header navbar, this needs to be update -->
  <md-content flex class="clear-content fill-page">
    <div ng-view flex layout-fill style="height: 100%"></div>
  </md-content>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>
<!-- Angular Material Library & Application Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="./app.js"></script>

</body>
</html>
