<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cal Poly Robotics</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="stylesheets/global.css">
  <link rel="stylesheet" href="stylesheets/body.css">
  <link rel="stylesheet" href="stylesheets/carousel.css">
  <link rel="stylesheet" href="stylesheets/header.css">
  <link rel="stylesheet" href="stylesheets/footer.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-init="loadLists()" ng-controller="pageController" ng-class="getClass('/main')" ng-cloak>
  <div class="layer">
    <div layout="row">

      <div class="headerBody">
          <h1 class="mainTitle">Cal Poly Robotics Club</h1>
      </div>

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
          <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
    <![endif]-->
    <!--div ng-view></div-->

  <div flex>
  <md-content hide-xs hide-sm class="clear-content navBar">
    <md-nav-bar
            md-selected-nav-item="home"
            nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#!main" name="home" value="home">Home</md-nav-item>
      <md-nav-item md-nav-href="#!projects" name="projects">Projects</md-nav-item>
      <md-nav-item md-nav-href="#!store" name="store">Club Store</md-nav-item>
      <md-nav-item md-nav-href="#!contact" name="contact">Contact Us</md-nav-item>
      <md-nav-item md-nav-href="#!about" name="about">About</md-nav-item>
      <!-- these require actual routing with ui-router or ng-route, so they
      won't work in the demo
      <md-nav-item md-nav-href="#page4" name="page5">Page Four</md-nav-item>
      <md-nav-item md-nav-sref="app.page5" name="page4">Page Five</md-nav-item>
      You can also add options for the <code>ui-sref-opts</code> attribute.
      <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
        Page Six
      </md-nav-item>
      -->
    </md-nav-bar>
    <!--div class="ext-content">
      External content for `<span>{{currentNavItem}}</span>`.
    </div-->


  </md-content>


  <div flex>
    <md-sidenav md-component-id="left" class="md-sidenav-left">

      <a ng-click="toggleLeftMenu()" ng-href="#!">
        <div layout="row" layout-align="center center">
          <img id="logo" src="resources/images/logo_clear.png" ></img>
        </div>
      </a>

      <md-list id="navlist">
        <md-list-item class="md-1-line list-item" ng-click="showProjectList = !showProjectList">
          <div class="md-list-item-text">
            <p>Projects</p>
          </div>
          <span flex></span>
          <md-icon>chevron_right</md-icon>
        </md-list-item>

        <md-list-item ng-show="showProjectList" class="md-1-line sublist-item" ng-repeat="project in projectList" ng-click="toggleLeftMenu()" ng-href="#!{{project.href}}">
          <div class="md-list-item-text">
            <p>{{project.name}}</p>
          </div>
        </md-list-item>

        <md-list-item class="md-1-line list-item" ng-click="toggleLeftMenu()" ng-href="#!store">
          <div class="md-list-item-text">
            <p>Club Store</p>
          </div>
        </md-list-item>

        <md-list-item class="md-1-line list-item" ng-click="toggleLeftMenu()" ng-href="#!contact">
          <div class="md-list-item-text">
            <p>Contact Us</p>
          </div>
        </md-list-item>

        <md-list-item class="md-1-line list-item" ng-click="toggleLeftMenu()" ng-href="#!about">
          <div class="md-list-item-text">
            <p>About</p>
          </div>
        </md-list-item>

      </md-list>
    </md-sidenav>


    <md-content hide-gt-sm class="clear-content navButton">
      <div layout="column" layout-align="center end">
        <md-button ng-click="toggleLeftMenu()" class="md-icon-button md-primary mobileNavButton" aria-label="Settings">
          <md-icon md-svg-icon="resources/icons/menu.svg" class="menuIcon"></md-icon>
      </md-button>
      </div>

    </md-content>

  </div>
  </div>
      </div>

  <!-- Applies individual htm pages-->
  <!-- TODO IF ever change height of header navbar, this needs to be update -->
  <md-content layout-padding flex class="clear-content" style="height: -webkit-calc(100% - 98px)">
    <div ng-view flex layout-fill style="height: 100%"></div>
  </md-content>

  <!-- Applies a sticky footer -->
  <!--md-bottom-sheet class="footerBody" ng-show="!homePage">
    <div class="mainFooterContent">
      <p>I am a sticky footer. I've got an MIT License and everything. JK.</p>
    </div>
  </md-bottom-sheet-->

  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


</body>
</html>
