.mainTitle {
    color: #DCDCDD;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 15px 15px 15px 15px;
    font-size: 25px;
    display: inline-flex;
}

.mainLogo {
    width:150px;
    height: auto;
}

.headerBody {
    // background: #46494C url(../resources/images/backgrounds/black_mamba.png) 0 0 repeat;
    background-color: #46494C;
    opacity: 0.9;
}

.navBar {
    background: #46494C;
    // url(../resources/images/backgrounds/light_mamba_2.png) 0 0 repeat;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 25px 0 15px 0;
    opacity: 0.9;
}

md-nav-bar md-nav-ink-bar {
    background: #1985A1;

}

md-nav-bar .md-button._md-nav-button.md-unselected {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #DCDCDD;
}
