.mainTitle {
    color: #DCDCDD;
    padding: 15px 15px 15px 15px;
    font-size: 30px;
    display: inline-flex;
}

.mainLogo {
    width:150px;
    height: auto;
}

.headerBody {
    // background: #46494C url(../resources/images/backgrounds/black_mamba.png) 0 0 repeat;
    background: #46494C;
    // padding: 0 10px 10px 10px;
}

.navBar {
    padding: 25px 15px 15px 15px;
    color: #DCDCDD;
}
md-nav-bar md-nav-ink-bar {
    background: #1985A1;
    border: none !important;
}
