
<!--div class="carouselBody">
    <div ng-controller="folderCtrl">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" ng-repeat="img in images" class="{active : (img === 0)}" data-slide-to="{{img}}"></li>
            </ol>
            <div class="carousel-inner">
                <div ng-class="{item: true, active : (img === 0)}" ng-repeat="img in images"> <img ng-src="{{uri}}/{{w}}/{{h}}/{{currentFolder}}/{{img}}" alt="Slide numder {{img}}">
                    <div class="container">
                        <div class="carousel-caption"> </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span></a> </div>

        <div class="navbar navbar-default navbar-fixed-botom" role="navigation">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="folder in folders" class="{{activeFolder(folder)}}" ng-click="selectFolder(folder)"> <a ng-href="#{{folder}}">{{folder}}</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div-->

<md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="3"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="25px" md-gutter-gt-sm="8px" >

    <md-grid-tile class="green">
        IGVC
        <md-grid-tile-footer>
            <h3>
                The Autonomous Golf Cart
            </h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green">
        U-ROV
        <md-grid-tile-footer>
            <h3>Sebastian</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green">
        BB-8
        <md-grid-tile-footer>
            <h3>Blah</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green">
        Foosball Table
        <md-grid-tile-footer>
            <h3>Blah</h3>
        </md-grid-tile-footer>
    </md-grid-tile>


</md-grid-list>
