/* global css stylesheet */
html, body{
  min-width: 345px;
}

h1{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 100pt;
  letter-spacing: 12pt;
  color: #C5C3C6;
  text-shadow: 0 1px 2px black;
  padding-left: 10px;
  padding-right: 10px;
}

h2{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 70pt;
  color: #C5C3C6;
  text-shadow: 0 1px 2px black;
  padding-left: 10px;
  padding-right: 10px;
}

h3{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  color: #C5C3C6;
  padding-left: 10px;
  padding-right: 10px;
}

h4{

}

h5{

}

h6{

}

.header {
  background-color: #46494C;
  height: 84px;
}

/** Relies on the header being 84px **/
.fill-page {
  height: -webkit-calc(100% - 84px);
}

.color-primary{
  background: #46494C;
}

.slim {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-med{
  padding: 0 20px;
  box-shadow: 1px 1px 1px black;
  border-radius: 20px;
  background-color: rgba(70, 73, 76, 0.9);
  color: gainsboro;
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
}

div.md-nav-bar {
    border: 0;
    margin-top: 5px;
}

md-nav-bar md-nav-ink-bar {
    background: #1985A1;
}

md-nav-bar .md-button._md-nav-button.md-unselected {
    color: gainsboro;
}

