html, body {
   background: #e7e7e7 url(../resources/images/body-bg.png) 0 0 repeat;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0;
  font-weight: 700;
  color:#222222;
  /*font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;*/
  letter-spacing: -1px;
}

h1 {
  font-size: 48px;
  padding: 0px 0px 0px 0px;
  font-weight: 700;
}

h2 {
  padding-bottom: 0px;
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
  color: #efefef;
}

p {
  margin: 10px 0 15px 0;
}

.mainHeader {
  margin: 0px 0;
  display: block;
  letter-spacing: -1px;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial','sans-serif','Times New Roman';
  font-size: 54pt;
  font-weight: 200;
  color: #ccc;
  letter-spacing: -1px;

}

.subHeader {
  text-align: center;
  text-transform: uppercase;
  font-size: 14pt;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

.titleBackground {
}


.primaryTitle {
   text-align: center;
   font-size: 128px;
}
.secondaryTitle {
   text-align: center;
   font-size: 32px;
}

#sideNavContainer, md-content{
   background: #056571;
}

md-sidenav{
  background: #1A1A1A;
}

md-list-item:nth-child(1){
   border-top: 1px solid #404040 
}

md-list-item{
   border-bottom: 1px solid #404040
}

.md-list-item-text h4{
   color: white;
}

.selected:{
   background: white;
}

#logo{
   padding-top: 40px;
   padding-bottom: 30px;
}
